In [2]:
import pandas as pd
df=pd.read_csv("german_credit_data.csv")
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car
5,5,35,male,1,free,NaN,NaN,9055,36,education
6,6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,7,35,male,3,rent,little,moderate,6948,36,car
8,8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,9,28,male,3,own,little,moderate,5234,30,car
10,10,25,female,2,rent,little,moderate,1295,12,car
11,11,24,female,2,rent,little,little,4308,48,business
12,12,22,female,2,own,little,moderate,1567,12,radio/TV
13,13,60,male,1,own,little,little,1199,24,car
14,14,28,female,2,rent,little,little,1403,15,car
15,15,32,female,1,own,moderate,little,1282,24,radio/TV
16,16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,17,25,male,2,own,NaN,little,8072,30,business
18,18,44,female,3,free,little,moderate,12579,24,car
19,19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,20,48,male,2,own,little,NaN,2134,9,car
21,21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,22,48,male,1,rent,little,little,2241,10,car
23,23,44,male,2,own,moderate,moderate,1804,12,car
24,24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,25,36,male,1,own,little,little,1374,6,furniture/equipment
26,26,39,male,1,own,little,NaN,426,6,radio/TV
27,27,42,female,2,rent,rich,rich,409,12,radio/TV
28,28,34,male,2,own,little,moderate,2415,7,radio/TV
29,29,63,male,2,own,little,little,6836,60,business
...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,moderate,moderate,1514,15,repairs
971,971,43,male,1,own,little,NaN,7393,24,car
972,972,29,female,0,rent,little,little,1193,24,car
973,973,36,male,2,rent,little,little,7297,60,business
974,974,33,female,2,own,little,NaN,2831,30,radio/TV
975,975,57,female,1,own,quite rich,rich,1258,24,radio/TV
976,976,64,female,2,own,little,moderate,753,6,radio/TV
977,977,42,male,2,own,NaN,moderate,2427,18,business
978,978,47,male,1,own,little,NaN,2538,24,car
979,979,25,male,2,rent,moderate,moderate,1264,15,car
980,980,49,male,2,own,little,moderate,8386,30,furniture/equipment
981,981,33,male,3,rent,little,NaN,4844,48,business
982,982,28,female,3,own,moderate,rich,2923,21,car
983,983,26,male,2,own,little,little,8229,36,car
984,984,30,male,1,own,little,NaN,2028,24,furniture/equipment
985,985,25,female,2,rent,little,little,1433,15,furniture/equipment
986,986,33,male,2,own,little,rich,6289,42,business
987,987,64,female,2,own,moderate,NaN,1409,13,radio/TV
988,988,29,male,3,free,little,little,6579,24,car
989,989,48,male,1,own,little,moderate,1743,24,radio/TV
990,990,37,male,1,own,NaN,NaN,3565,12,education
991,991,34,male,1,own,moderate,NaN,1569,15,radio/TV
992,992,23,male,1,rent,NaN,little,1936,18,radio/TV
993,993,30,male,3,own,little,little,3959,36,furniture/equipment
994,994,50,male,2,own,NaN,NaN,2390,12,car
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,996,40,male,3,own,little,little,3857,30,car
997,997,38,male,2,own,little,NaN,804,12,radio/TV
998,998,23,male,2,free,little,little,1845,45,radio/TV
999,999,27,male,2,own,moderate,moderate,4576,45,car

In [17]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,education
6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car
10,25,female,2,rent,little,moderate,1295,12,car
11,24,female,2,rent,little,little,4308,48,business
12,22,female,2,own,little,moderate,1567,12,radio/TV
13,60,male,1,own,little,little,1199,24,car
14,28,female,2,rent,little,little,1403,15,car
15,32,female,1,own,moderate,little,1282,24,radio/TV
16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,25,male,2,own,NaN,little,8072,30,business
18,44,female,3,free,little,moderate,12579,24,car
19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,48,male,2,own,little,NaN,2134,9,car
21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,48,male,1,rent,little,little,2241,10,car
23,44,male,2,own,moderate,moderate,1804,12,car
24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,36,male,1,own,little,little,1374,6,furniture/equipment
26,39,male,1,own,little,NaN,426,6,radio/TV
27,42,female,2,rent,rich,rich,409,12,radio/TV
28,34,male,2,own,little,moderate,2415,7,radio/TV
29,63,male,2,own,little,little,6836,60,business
...,...,...,...,...,...,...,...,...,...
970,22,male,2,own,moderate,moderate,1514,15,repairs
971,43,male,1,own,little,NaN,7393,24,car
972,29,female,0,rent,little,little,1193,24,car
973,36,male,2,rent,little,little,7297,60,business
974,33,female,2,own,little,NaN,2831,30,radio/TV
975,57,female,1,own,quite rich,rich,1258,24,radio/TV
976,64,female,2,own,little,moderate,753,6,radio/TV
977,42,male,2,own,NaN,moderate,2427,18,business
978,47,male,1,own,little,NaN,2538,24,car
979,25,male,2,rent,moderate,moderate,1264,15,car
980,49,male,2,own,little,moderate,8386,30,furniture/equipment
981,33,male,3,rent,little,NaN,4844,48,business
982,28,female,3,own,moderate,rich,2923,21,car
983,26,male,2,own,little,little,8229,36,car
984,30,male,1,own,little,NaN,2028,24,furniture/equipment
985,25,female,2,rent,little,little,1433,15,furniture/equipment
986,33,male,2,own,little,rich,6289,42,business
987,64,female,2,own,moderate,NaN,1409,13,radio/TV
988,29,male,3,free,little,little,6579,24,car
989,48,male,1,own,little,moderate,1743,24,radio/TV
990,37,male,1,own,NaN,NaN,3565,12,education
991,34,male,1,own,moderate,NaN,1569,15,radio/TV
992,23,male,1,rent,NaN,little,1936,18,radio/TV
993,30,male,3,own,little,little,3959,36,furniture/equipment
994,50,male,2,own,NaN,NaN,2390,12,car
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [35]:
df.head(7)

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,education
6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment

In [36]:
df.tail(3)

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [38]:
df.count()

Age                 1000
Sex                 1000
Job                 1000
Housing             1000
Saving accounts      817
Checking account     606
Credit amount       1000
Duration            1000
Purpose             1000
dtype: int64